.matrix{
    position: absolute;
    width: 90%;
    height: 400px;
    opacity: 0.5;
    z-index: 0;
}
.matrixContainer{
    position: relative;
    height: 400px;
}
.matrix.active {
    z-index: 1;
}
/*button{
    width: 40px;
    height: 20px;
}*/