body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 4em;
    color: white;
    letter-spacing: 2px;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.matrix{
    position: absolute;
    width: 65%;
    height: 400px;
    opacity: 0.5;
    z-index: 0;
}
.matrix-container{
    position: relative;
    margin-left: 5%;
    margin-top: 30px;
    height: 400px;
}
.matrix.active {
    z-index: 1;
    opacity: 0.6;
}
.draggable-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #D6D6D6;
    border-radius: 20px;
    top: 100px;
    margin-left: 75%;
}
.draggable {
    width: 20px;
    height: 20px;
    align-self: center;
    border-radius: 100%;
    background-color: white;
    border: 2px solid black;
    z-index: 2;
}
button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.9, 0.9);
}

.button-container{
    margin-left: 5%;
    margin-top: 20px;
}
.stop-button {
    background-color: red;
}
.lead-button {
    margin-left: 7%;
    background-color: #D300FF;
}
.bass-button {
    background-color: #08875c;
}
.rhythm-button {
    background-color: #FFBF19;
}