<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ozzy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style>
          h2{
            margin-top: 30vh;
            text-align: center;
            color: white;
            }
        </style>
    </head>
    <body>
        <h1>Ozzy.</h1>
        <h2>The song you are searching for is not available, click here to create a new one.</h2>
    </body>
</html>
